<br/>
<br/>
<h2>Confirm deletion of puppy</h2>
<br/>
<br/> ID:
<%=  puppy._id %>
  <br> Name:
  <%=puppy.name%>
    <br/> breed:
    <%=puppy.breed%>
      <br/> Age (years):
      <%=puppy.age%>
        <br/>
        <br/>
        <% for (let j = 0; j < puppy.parents.length; j++) { parent = puppy.parents[j]; %>
          <div> Parent Name:
            <%=parent.parentName%>
              <br/> Parent Breed:
              <%=parent.parentBreed%>
                <br/> Parent Age (years):
                <%=parent.age%> years
                  <br/>
                  <br/>
          </div>
          <% } %>
            <br/>
            <br/>

            <form method="get" action="/puppy">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/puppy/delete/<%= puppy._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>