<br/>
<br/>
<h2>Course details</h2>
<br/>
<br/>
<br/> email:
<%=  course.email%>
  <br> codeWordSet:
  <%=course.codeWordSet%>
    <br/> Startdate:
    <%=course.Startdate%>
      <br/> Enddatr:
      <%=course.Enddate%>
        <br/> PostSurveyURL:
        <%=course.PostSurveyURL%>
          <br/> PreSurveyURL:
          <%=course.PreSurveyURL%>
        <br/>
            <form method="get" action="/course">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>